body {
  padding-top: 50px;
}
.banner, .main {
  padding: 40px 15px;
  /*text-align: center;*/
}
.row{
  margin-bottom: 20px;

}
[class*="col-"] {
  /*padding-top: 15px;
  padding-bottom: 15px;*/
  border: 1px solid #ccc;
}
.square-row .col-md-1{
  color: #c0c0c0;
  background-color: #ccc;
	height:15px;
	margin:1em;
	word-wrap: break-word;
	overflow: hidden;
	/*-webkit-transition: color 2s;
  transition: color 2s; */
}

.square-row .col-md-1:hover{
	color:#efefef;
}
.info-col{
  margin:4.5em;
}
.info-col:first-child{
  margin-left: 0;
}
.info-col:last-child{
  margin-right: 0;
}
.info-col h3{
  border-bottom: 1px solid #ccc;
}
.github-widget {
  border: 0 !important;
}
.gh-widget-heading, .gh-widget-hr, .gh-widget-repositories, .gh-widget-active-time{
  display: none;
}
