<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}

  </head>

  <body>

    {% include nav.html %}

    <div class="container">

      <div class="banner"><h1>coder//teacher//developer//instructor//artist//programmer//maker</h1></div>
        

        <div class="row square-row">
          <div class="col-md-3 info-col">
              <h3>QUILTBAG++ Tech</h3>
              <p>I've been working with a group of LGBTQ techies to build community among technologists in the queer community in New York City. The group, <a href="http://quiltbagtech.nyc">QUILTBAG++</a>, recently had our first public event, a <a href="http://quiltbagtech.nyc/better-than-nothing-digital-privacy/">Digital Privacy Workshop for Queer and Trans People</a>.
          </div>
          
          <div class="col-md-3 info-col">
              <h3>Syllabi online</h3>
              <p>Recent syllabi from grad courses I taught at NYU's Interactive Telecommunications Program (ITP)</p>
              <ul>
                  <li><a href="https://github.com/robynitp/networkedmedia/wiki">Networked Media</a></li>
                  <li><a href="http://itp.robynoverstreet.com/comm-lab-web-syllabus/">Communications Lab: Web</a></li>

              </ul>
          </div>
          
          <div class="col-md-3 info-col">
              <h3>Slideshows</h3>
              <ul>
                <li><a href="https://www.slideshare.net/robynover/css-and-css3">CSS3</a></li>
                <li><a href="https://www.slideshare.net/robynover/ppt-canvas">HTML5 Canvas</a></li>
                <li><a href="https://www.slideshare.net/robynover/html-intro-7770882">HTML</a></li>
              </ul>
          </div>
          
        </div>
        
        <div class="row square-row">
          <div class="col-md-1">hhhhhirehhhhhhhhhh</div>
          <div class="col-md-1">@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@</div>
          <div class="col-md-1">mmmmmmmmemmmmmmmmmmmmmmmmmmmmmm</div>
          <div class="col-md-1">uuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu
            uuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu</div>
          <div class="col-md-1">nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn
            nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn</div>
          <div class="col-md-1">eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
            eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</div>
          <div class="col-md-1">eeeeeeeeeeeeeeeeeee
            eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</div>
          <div class="col-md-1">eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</div>
          <div class="col-md-1">ddd</div>

        </div>


        <div class="row square-row">
          <div class="col-md-11 info-col">
              <h3>Emotional Bag Check</h3>
              <p>EmotionalBagCheck was a site where users could submit, or "check", their emotional "baggage", a short piece of text about something that had been troubling them, big or small. Their message would then be displayed anonymously where another user could choose a song that might provide comfort, along with an optional message. The bag-checker would receive an email with the link to the song on the (now defunct) music site Grooveshark. I created it for fun, and for the first few months only my friends visited, but then it made the rounds with teens on tumblr. From there, a few media outlets picked it up and it took off.</p>
              <p>Some of the media coverage included write-ups in <a href="http://www.wired.com/underwire/2011/09/emotional-bag-check/">Wired UK</a>, <a href="http://www.marketplace.org/topics/tech/tech-report-blog/solving-problems-one-song-time">Marketplace</a>, <a href="http://allthingsd.com/20111010/songs-from-strangers-serve-as-virtual-hugs-at-emotional-bag-check/">All Things D</a>, and <a href="http://www.good.is/post/check-your-emotional-baggage-in-exchange-for-a-song/">Good</a>.</p>
              <p><a href="/ebc">Read More &rarr;</a></p>
              
          </div>
          
          
          
        </div>





      


        <div class="row square-row">
          <div class="col-md-1">nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn</div>
          <div class="col-md-1">o0o0o0o0o</div>
          <div class="col-md-1">ooooooooooooooo0000000000000000000oooooooooooooooooooo</div>
          <div class="col-md-1">vvvvvvvvvvvvvvvvvvvv</div>
          <div class="col-md-1">e.e.e.e.e.e.e.e.e.e.e.e.e.e.e.e.e.e.e.e.e.e.e.e.e.e.e.e.e.e.e.e.</div>
          <div class="col-md-1">rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr</div>
          <div class="col-md-1">sssssssssssssssssssssssssssssssssssssssssssssssssssssss</div>
          <div class="col-md-1">ttttttttttttttttttttttttttt</div>
          <div class="col-md-1">rrrrrrrrrr</div>
        </div>

        <div class="row square-row">
          <div class="col-md-3 info-col">
              <h3>Web 101</h3>
              <p>A selection of my tutorials for beginning web development</p>
              <ul>
                  <li><a href="https://github.com/robynitp/networkedmedia/wiki/Intro-to-HTML">HTML Intro</a></li>
                  <li><a href="https://github.com/robynitp/networkedmedia/wiki/Intro-to-CSS">CSS Intro</a></li>
                  <li><a href="http://itp.robynoverstreet.com/css-layout/">CSS Layout</a></li>
                  <li><a href="https://github.com/robynitp/networkedmedia/wiki/Week-3-Notes">Javascript in the Browser</a></li>
                  <li><a href="http://itp.robynoverstreet.com/php-intro/">PHP Intro</a></li>
              </ul>
          </div>
          <!-- <div class="col-md-3 info-col">
            <h3>Javascript example code</h3>
            <p>Code snippets used for teaching Javascript basics</p>
            <li><a href="https://jsfiddle.net/rover/9d4t2vc7/">Accessing DOM elements</a></li>
            <li><a href="https://jsfiddle.net/rover/rj9s62yw/">Dynamically adding DOM elements</a></li>
            <li><a href="https://jsfiddle.net/rover/h89f5c8d/">Mouse Click Listener</a></li>
            <li><a href="https://jsfiddle.net/rover/d6gN5/">Parsing a Javascript Object</a></li>
          </div> -->

          <div class="col-md-7 info-col">
            <h3>Ethoinformatics</h3>
            <p>The <a href="http://ethoinformatics.org">Ethoinformatics project</a> is a collaborative research project between NYU's Interactive Telecommunications Program (ITP), and the anthropology departments at University of Texas Austin and Washington University in St. Louis. As the database and application developer, I was responsible for finding a solution to manage large amounts of data collected for primate research in the field. I helped build a schema vocabulary to be used across different research projects at universities across the world. At the same time, I prototyped and built the mobile application that powered the data collection. One of the <a href="https://github.com/robynover/zambia-app">iterations of that application</a> is available on my github and my <a href="http://ethoinformatics.org/author/robyn">documentation</a> for the project at large is on the Ethoinformatics site.
          </div>

        </div>


        <div class="row square-row">
          <div class="col-md-1">sssssssssssssssssssssssssssssssssssssssssssssssssssssss</div>
          <div class="col-md-1">ttttttttttttttttttttttttttt</div>
          <div class="col-md-1">rrrrrrrrrr</div>
          <div class="col-md-1">eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</div>
          <div class="col-md-1">eeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</div>
          <div class="col-md-1">tttttttttttttttttttt</div>
          <div class="col-md-1">www</div>
          <div class="col-md-1">hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh</div>
          <div class="col-md-1">000000000000000000000000000000000000000000000000000
            00000000000000000000000000000000000000000000000</div>
        </div>

        <div class="row square-row">

        <!--
          CSS3 at SF HTML5 Meetup video https://www.youtube.com/watch?v=m-isFXOJ_ac

        -->

          <div class="col-md-4 info-col">
              <h3>GitHub</h3>
              <div class="github-widget" data-username="robynover"></div>
          <script src="https://unpkg.com/github-card@1.2.1/dist/widget.js"></script>
          </div> 
          
          
          <div class="col-md-4 info-col">
              <h3>Stack Overflow</h3>
              <p><a href="http://stackoverflow.com/users/225134/fredrover">
<img src="http://stackoverflow.com/users/flair/225134.png?theme=clean" width="208" height="58" alt="profile for fredrover at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for fredrover at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
</a></p>
              
          </div>
          
      </div>


        <div class="row square-row">
          <div class="col-md-1">mmmmmmmmmmmmmmmmmmmm
            mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm</div>
          <div class="col-md-1">eeeeeeeeeeE</div>
          <div class="col-md-1">iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii</div>
          <div class="col-md-1">aaa@a@a@a@a@a@a@a@a@a@a@a@a@a@a@a@a@a@a@a@a@a@</div>
          <div class="col-md-1">mnmnmnmnmnmmmmmmmmmmmmmmm
            mmmmmmm</div>
          <div class="col-md-1">rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr</div>
          <div class="col-md-1">o</div>
          <div class="col-md-1">bbbbbbbbbbbbbbbbbbbbb
            bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</div>
          <div class="col-md-1">yYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyY
          yYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyY</div>
        </div>
        

      {{ content }}

    </div><!-- /.container -->

  </body>
</html>
