<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}

  </head>

  <body>

    {% include nav.html %}

    <div class="container">

      <div class="banner"><h1>coder//teacher//developer//instructor//artist//programmer//maker</h1></div>
        <div class="row square-row">
          <div class="col-md-1">rrrrrrrr</div>
          <div class="col-md-1">ooooooooooooooooo</div>
          <div class="col-md-1">bbbbbbbb</div>
          <div class="col-md-1">yyyyyyyy</div>
          <div class="col-md-1">nnnnnnnnnnnnn</div>
          <div class="col-md-1">.........................................................
            .............................................................................</div>
          <div class="col-md-1">ooooooooooooooooooooooooo</div>
          <div class="col-md-1">vvvvvvvvvvvvvvvvvvvvvvvvv</div>
          <div class="col-md-1">eeeeeeeeeeeeeeeeeeeeeeeee</div>
          <!-- <div class="col-md-1">p</div> -->
          <!-- <div class="col-md-1">e</div>
          <div class="col-md-1">d</div> -->
        </div>
         <div class="row square-row">
          <div class="col-md-1">rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr</div>
          <div class="col-md-1">sssssssssssssssssssssssssssssssssssssssssssssssssssssss</div>
          <div class="col-md-1">ttttttttttttttttttttttttttt</div>
          <div class="col-md-1">rrrrrrrrrr</div>
          <div class="col-md-1">eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</div>
          <div class="col-md-1">eeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</div>
          <div class="col-md-1">eeeeeeeeeeeeee</div>
          <div class="col-md-1">tttttttttttttttttttt</div>
          <div class="col-md-1">//</div>
        </div>
        <div class="row square-row">
          <div class="col-md-1">hhhhhirehhhhhhhhhh</div>
          <div class="col-md-1">@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@</div>
          <div class="col-md-1">mmmmmmmmemmmmmmmmmmmmmmmmmmmmmm</div>
          <div class="col-md-1">uuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu
            uuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu</div>
          <div class="col-md-1">nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn
            nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn</div>
          <div class="col-md-1">eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
            eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</div>
          <div class="col-md-1">eeeeeeeeeeeeeeeeeee
            eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</div>
          <div class="col-md-1">eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</div>
          <div class="col-md-1">ddd</div>
        </div>
        <div class="row square-row">
          <div class="col-md-1">mmmmmmmmmmmmmmmmmmmm
            mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm</div>
          <div class="col-md-1">eeeeeeeeeeE</div>
          <div class="col-md-1">iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii</div>
          <div class="col-md-1">aaa@a@a@a@a@a@a@a@a@a@a@a@a@a@a@a@a@a@a@a@a@a@</div>
          <div class="col-md-1">mnmnmnmnmnmmmmmmmmmmmmmmm
            mmmmmmm</div>
          <div class="col-md-1">rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr</div>
          <div class="col-md-1">o</div>
          <div class="col-md-1">bbbbbbbbbbbbbbbbbbbbb
            bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</div>
          <div class="col-md-1">yYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyY
          yYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyYyY</div>
        </div>
        <div class="row square-row">
          <div class="col-md-1">nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn</div>
          <div class="col-md-1">o0o0o0o0o</div>
          <div class="col-md-1">ooooooooooooooo0000000000000000000oooooooooooooooooooo</div>
          <div class="col-md-1">vvvvvvvvvvvvvvvvvvvv</div>
          <div class="col-md-1">e.e.e.e.e.e.e.e.e.e.e.e.e.e.e.e.e.e.e.e.e.e.e.e.e.e.e.e.e.e.e.e.</div>
          <div class="col-md-1">rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr</div>
          <div class="col-md-1">sssssssssssssssssssssssssssssssssssssssssssssssssssssss</div>
          <div class="col-md-1">ttttttttttttttttttttttttttt</div>
          <div class="col-md-1">rrrrrrrrrr</div>
        </div>
        <div class="row square-row">
          <div class="col-md-1">sssssssssssssssssssssssssssssssssssssssssssssssssssssss</div>
          <div class="col-md-1">ttttttttttttttttttttttttttt</div>
          <div class="col-md-1">rrrrrrrrrr</div>
          <div class="col-md-1">eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</div>
          <div class="col-md-1">eeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</div>
          <div class="col-md-1">tttttttttttttttttttt</div>
          <div class="col-md-1">www</div>
          <div class="col-md-1">hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh</div>
          <div class="col-md-1">000000000000000000000000000000000000000000000000000
            00000000000000000000000000000000000000000000000</div>
        </div>
        

      {{ content }}

    </div><!-- /.container -->

  </body>
</html>
